# Gradle
.gradle/
**/build/
build/

# IDE stuff every stupid I open IDE open this project with make like 20 file
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/

.vscode/

# Android Studios
local.properties
/captures/
.externalNativeBuild/
.cxx/
# Show Compiled APK
!power-digit-sum-android-app/app/build/intermediates/apk/debug/app-debug.apk

bin/
*.class

# Logs
*.log
build_error*.txt

# MacOS
.DS_Store
/.idea
