# Ignore Gradle project-specific cache directory
.gradle
**/.gradle/

# Ignore Gradle build output directory
build
**/build/
.classpath
.project
.settings
.vscode/
.idea/
*.iml
*.ipr
*.iws
# Android
local.properties

*.log
bin
*.class
.DS_Store
